/* a {
	text-decoration: none;
} */

.shoeCard-list {
	display: flex; /*Placing shoeCard horizontally*/
	padding: 1rem 7rem;
	/* overflow-x: scroll; Overflow x property */
	height: 600px;
	width: 100%;
}

.shoeCard-list::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
.shoeCard-list::-webkit-scrollbar-thumb {
	background: #1f242a;
	border-radius: 10px;
	box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

.shoeCard-list::-webkit-scrollbar-track {
	/* background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d); */
}

.shoeCard {
	height: 60vh;
	width: 25vw;
	min-width: 250px;
	padding: 1.5rem; /*space between each shoeCard*/
	border-radius: 16px;
	background: #1f242a;
	box-shadow: -1rem 0 3rem #000;
	display: flex; /*Placing shoeCard horizontally*/
	flex-direction: column; /*Each individual shoeCardy*/
	transition: .2s;
	margin-top: 3em;
	scroll-snap-align: start;
	clear: both;
	position: relative;
}

.shoeCard:focus-within ~ .shoeCard,
.shoeCard:hover ~ .shoeCard {
	/*Select all siblings after the hovered shoeCard*/
	transform: translateX(130px);
}

@media only screen and (max-width: 900px) {
	.shoeCard:focus-within ~ .shoeCard,
	.shoeCard:hover ~ .shoeCard {
		/*Select all siblings after the hovered shoeCard*/
		transform: translateX(50px);
	}
	.shoeCard:not(:fourth-child) {
		/* Select shoeCard elements that not the first child in the list*/
		display: none;
	}
	.shoeCard-list {
		display: flex; /*Placing shoeCard horizontally*/
		padding: 1rem 0;
	}
	.shoeCard:nth-child(4) {
		/* Select shoeCard elements that not the first child in the list*/
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	.shoeCard:not(:first-child) {
		/* Select shoeCard elements that not the first child in the list*/
		display: none;
	}
}

.shoeCard:hover {
	transform: translateY(1rem); /*Move shoeCard along the Y axis*/
}

.shoeCard:not(:first-child) {
	/* Select shoeCard elements that not the first child in the list*/
	margin-left: -120px;
}

.shoeCard-header {
	margin-bottom: auto;
}

.shoeCard-header p {
	font-size: 14px;
	margin: 0 0 1rem;
	color: #7a7a8c;
}

.shoeCard-header h2 {
	font-size: 20px;
	/* margin: .25rem 0 auto; */
	/* text-decoration: none; */
	/* color: inherit; */
	border: 0;
	/* display: inline-block; */
	cursor: pointer;
	/* background: linear-gradient(90deg, #ff8a00, #e52e71); */
	background-color: white;
	/* text-shadow: none; */
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

.shoeImage {
	height: 70%;
	width: 100%;
	margin: 10% 0;
}

.shoeCard-author {
	/* margin: 10 0; */
	display: grid;
	grid-template-columns: 5px 1fr;
	align-items: center;
	/* position: relative; */
	margin-bottom: 15px;
}

.sectionHeader {
	font-size: 40px;
	color: white;
}
